@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background: #070b18;
  color: white;
}
/* Dark theme dropdown fix (select/options) */
select, option {
  background-color: #0b1220;
  color: #ffffff;
}

select:disabled {
  color: rgba(255,255,255,0.5);
}
